**

!.git*
!README.md

!docker-compose.yaml
!docker-compose.*.yaml

!/ollama-openwebui/
!/ollama-openwebui/ollama/
!/ollama-openwebui/ollama/data/
!/ollama-openwebui/openwebui/
!/ollama-openwebui/openwebui/data/

!/reverse-proxy/
!/reverse-proxy/.env.example
!/reverse-proxy/caddy/
!/reverse-proxy/caddy/Caddyfile
!/reverse-proxy/caddy/config/
!/reverse-proxy/caddy/data/
!/reverse-proxy/caddy/default_site/
!/reverse-proxy/caddy/default_site/index.html
