**

!.git*
!README.md

!docker-compose.yaml
!docker-compose.*.yaml

!.env.default
!.env.example

!/dolibarr/
!/dolibarr/dolibarr/
!/dolibarr/dolibarr/custom/
!/dolibarr/dolibarr/documents/
!/dolibarr/postgres/
!/dolibarr/postgres/data

!/ollama-openwebui/
!/ollama-openwebui/ollama/
!/ollama-openwebui/ollama/data/
!/ollama-openwebui/openwebui/
!/ollama-openwebui/openwebui/data/

!/reverse-proxy/
!/reverse-proxy/caddy/
!/reverse-proxy/caddy/Caddyfile
!/reverse-proxy/caddy/config/
!/reverse-proxy/caddy/data/
!/reverse-proxy/caddy/default_site/
!/reverse-proxy/caddy/default_site/index.html
